.footer {
  background: rgb(247, 246, 246);
  padding: 50px 70px 25px 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  color: rgb(85, 84, 84);
  margin-top: 10px;
}

.footer .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.footer .footer-left .footer-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer .footer-left p {
  font-size: 12px;
}

.footer .footer-left p a{
    color: rgb(85, 84, 84);
  }

.footer .footer-right {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.footer .footer-right h5 {
  margin-bottom: 15px;
}

.footer .footer-right ul {
  display: flex;
}

.footer .footer-right li img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.footer .signup {
  padding: 0 20px;
}
.footer .signup h5 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.footer .signup input {
  display: inline-block;
  width: 75%;
  height: 30px;
  margin-bottom: 25px;
  padding: 0 10px;
}

.footer .signup button {
  width: 25%;
  height: 30px;
  background: black;
  color: #fff;
  border: none;
  font-weight: 700;
  padding: 0 10px;
}

.footer .signup p {
  font-size: 12px;
}

.footer .signup .payment {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 90%;
}

.footer .signup .payment img{
    width: 45px;
    margin-top: 10px;
    height: 30px;
}

.footer ul li {
  list-style: none;
  font-size: 12px;
  line-height: 2;
}
